/*************Página principal*****************/


/***Fuentes: Quicksand y Trirong***/
body{
    background-color: #f6f7fc;
}

.Titulo-principal{
    font-size: 3rem;
    text-align: center;
    font-weight: 200;
    font-family: 'Trirong';
}

.parrafo{
    font-family: 'Quicksand', sans-serif;
    margin: 15px;
    padding: 0px 4rem;
}